.vs/
Intermediate/
Build/
Binaries/
Saved/Autosaves
Saved/Collections
Saved/Config
Saved/Cooked
Saved/Crashes
Saved/Logs
Saved/MaterialStats
Saved/MaterialStatsDebug
Saved/Shaders
Saved/StagedBuilds
Saved/AutoScreenshot.png